<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Level_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{0,216},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{88,216},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{176,216},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{264,216},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{352,216},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{0,324},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{88,324},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{176,324},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{264,324},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{352,324},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{0,432},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{88,432},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{176,432},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,108}</string>
                <key>spriteSourceSize</key>
                <string>{87,108}</string>
                <key>textureRect</key>
                <string>{{0,0},{87,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,108}</string>
                <key>spriteSourceSize</key>
                <string>{87,108}</string>
                <key>textureRect</key>
                <string>{{87,0},{87,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,108}</string>
                <key>spriteSourceSize</key>
                <string>{87,108}</string>
                <key>textureRect</key>
                <string>{{174,0},{87,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,108}</string>
                <key>spriteSourceSize</key>
                <string>{87,108}</string>
                <key>textureRect</key>
                <string>{{261,0},{87,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,108}</string>
                <key>spriteSourceSize</key>
                <string>{87,108}</string>
                <key>textureRect</key>
                <string>{{348,0},{87,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,108}</string>
                <key>spriteSourceSize</key>
                <string>{87,108}</string>
                <key>textureRect</key>
                <string>{{0,108},{87,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,108}</string>
                <key>spriteSourceSize</key>
                <string>{87,108}</string>
                <key>textureRect</key>
                <string>{{87,108},{87,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,108}</string>
                <key>spriteSourceSize</key>
                <string>{87,108}</string>
                <key>textureRect</key>
                <string>{{174,108},{87,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,108}</string>
                <key>spriteSourceSize</key>
                <string>{87,108}</string>
                <key>textureRect</key>
                <string>{{261,108},{87,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{264,432},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,108}</string>
                <key>spriteSourceSize</key>
                <string>{87,108}</string>
                <key>textureRect</key>
                <string>{{348,108},{87,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{352,432},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{0,540},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{88,540},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{176,540},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{264,540},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,756},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{90,756},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{180,756},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{270,756},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{352,540},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,108}</string>
                <key>textureRect</key>
                <string>{{0,864},{90,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{0,648},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{88,648},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{176,648},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{264,648},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Level_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,108}</string>
                <key>spriteSourceSize</key>
                <string>{88,108}</string>
                <key>textureRect</key>
                <string>{{352,648},{88,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NavBag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,223}</string>
                <key>spriteSourceSize</key>
                <string>{192,223}</string>
                <key>textureRect</key>
                <string>{{90,864},{192,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NavHonor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,251}</string>
                <key>spriteSourceSize</key>
                <string>{216,251}</string>
                <key>textureRect</key>
                <string>{{196,1317},{216,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NavSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,217}</string>
                <key>spriteSourceSize</key>
                <string>{204,217}</string>
                <key>textureRect</key>
                <string>{{0,1087},{204,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NavShop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,230}</string>
                <key>spriteSourceSize</key>
                <string>{196,230}</string>
                <key>textureRect</key>
                <string>{{204,1087},{196,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NavStory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,232}</string>
                <key>spriteSourceSize</key>
                <string>{196,232}</string>
                <key>textureRect</key>
                <string>{{0,1317},{196,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Main.png</string>
            <key>size</key>
            <string>{440,1568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ef614ca50ae42130d82def26081b49d:828a930cb366de5f3a3e98808f2ec4f8:71fd0f4d858c891d4b483cd3bcff30d8$</string>
            <key>textureFileName</key>
            <string>Main.png</string>
        </dict>
    </dict>
</plist>
