<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,108}</string>
                <key>spriteSourceSize</key>
                <string>{251,108}</string>
                <key>textureRect</key>
                <string>{{81,0},{251,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Checked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,38}</string>
                <key>spriteSourceSize</key>
                <string>{43,38}</string>
                <key>textureRect</key>
                <string>{{38,0},{43,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{930,320}</string>
                <key>spriteSourceSize</key>
                <string>{930,320}</string>
                <key>textureRect</key>
                <string>{{0,121},{930,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{488,121}</string>
                <key>spriteSourceSize</key>
                <string>{488,121}</string>
                <key>textureRect</key>
                <string>{{332,0},{488,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Login.png</string>
            <key>size</key>
            <string>{930,441}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fda7baad4f6e5d5cbdea6df973736e22:ba710740027f668a9f70bae3c7afd0d6:e602202bcadb9fc25505c0a0c12df872$</string>
            <key>textureFileName</key>
            <string>Login.png</string>
        </dict>
    </dict>
</plist>
